.auth,
.booking,
.events {
  margin-top: 3rem;
}

.auth {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, lightgray 50%, rgb(16, 69, 243) 50%);
  z-index: -1;
}

.authcontainer {
  display: flex;
  flex-direction: column;
  /* border-top: 1px solid
    linear-gradient(45deg, rgb(16, 69, 243) 40%, lightgray 60%);
  padding: 9px; */
  z-index: 1;
  /* background-color: white; */
  border-radius: 9px;
  border: 1px solid black;
  padding: 10px;
}

.authcontainer > h4 {
  text-align: center;
  margin-bottom: 20px;
  width: 300px;
}

.authcontainer > form > label {
  margin-bottom: 10px;
}
#email,
#password {
  margin-bottom: 10px;
  outline: none;
  height: 20px;
}

.authcontainer > form {
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
}
.btn {
  margin-bottom: 10px;
  padding: 2px 5px;
  border-radius: 3px;
  border: none;
  background-color: aqua;
  color: rgb(0, 4, 240);
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
  background-color: beige;
  opacity: 0.7;
}

.btn-container {
  border: 2px solid aqua;
  width: fit-content;
  padding: 1rem 5rem;
  padding-top: 3rem;
  text-align: center;
  display: block;
  margin: 20px auto;
}

.btn-container > h3 {
  margin-bottom: 1rem;
  color: rgb(0, 4, 240);
}
#buttn {
  /* margin: 10px auto;
  display: block; */
  padding: 5px;
  background-color: rgb(0, 4, 240);
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: 3px;
}

#buttn:hover {
  opacity: 0.75;
  cursor: pointer;
  color: beige;
}

.events {
  margin-top: 5rem;
}
.listitems {
  margin-top: 4rem;
  width: 40rem;
  max-width: 90%;
  display: block;
  margin: 2rem auto;
}

.book-container {
  width: 40rem;
  max-width: 90%;
  display: block;
  margin: 2rem auto;
  margin-top: 5rem;
}

.title {
  color: rgb(0, 4, 240);
  margin: 5px 0;
}

.description {
  margin-right: 10px;
  margin-bottom: 9px;
}
